@import './modals.scss';
@import './media.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Hind Vadodara', sans-serif;
}

// NAV

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 3vw 0 3vw;
  height: 70px;

  .logoBrand {
    flex-basis: 10%;
  }

  .navFormContainer {
    flex-basis: 50%;
    flex-wrap: nowrap;
    justify-content: flex-end;

    .navIconContainer {
      margin-right: 2rem;
      margin-left: 2rem;

      .navBelIcon {
        width: 20px;
  
        &:hover {
          cursor: pointer;
        }
      }

      .calendar {
        position: absolute;
        right: 10%;
        left: 10%;
        margin-top: 20px;
      }

      .bellAlarm {
        @keyframes shakeBell {
          10%, 90% {
            transform: translate3d(-1px, 0, 0);
          }
          
          20%, 80% {
            transform: translate3d(2px, 0, 0);
          }
        
          30%, 50%, 70% {
            transform: translate3d(-4px, 0, 0);
          }
        
          40%, 60% {
            transform: translate3d(4px, 0, 0);
          }
        }
        animation: shakeBell 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }

  .navToogleIcon {
    order: 20;
  }

  .navLinksContainer {
    justify-content: center;
    flex-basis: 40%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
  }
}

// TABLE

.tableContainer {
  tbody {
    tr {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@include modals;
@include media;