@mixin media {
  @media screen and (max-device-width: 1200px) {
    
  }

  @media screen and (max-device-width: 992px) {
    //  NAV

    .navBar {
      flex-wrap: wrap;
      justify-content: space-between;
      height: 110px;

      .logoBrand {
        flex-basis: 10%;
      }
  
      .navFormContainer {
        flex-basis: 80%;
        flex-wrap: wrap;
        justify-content: flex-end;

        .navFieldSearch {
          width: 50%;
        }

        .navIconContainer {
          margin-right: 1rem;
          margin-left: 0;
          .navBelIcon {

          }

          .calendar {
            margin-top: 60px;
          }
        }
      }
  
      .navLinksContainer {
        flex-basis: 100%;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        order: 20;
      }
    }

    //  MODAL ADD

    .modalBackgroundDiv {
  
      .containerModalAdd {
        width: 90%; 
        padding: 30px;
        padding-top: 50px;
        top: 60px; left: 0; bottom: 0; right: 0;
  
        .containerForm {
          
          .mainInfo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
  
            .nameAdd {
              flex-basis: 45%;
            }
  
            .telAdd {
              flex-basis: 45%;
            }
  
            .addressAdd {
              flex-basis: 100%;
            }
  
            .passportAdd {
              flex-basis: 45%;
            }

            .jobAdd {
              flex-basis: 100%;
            }
  
            .birhDayDiv {
              flex-basis: 45%;
              display: inline-flex;
            }
          }
  
          .containerInputDateAdd {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
  
            .arriveDateAdd {
            
            }
  
            .departureDateAdd {
  
            }
            
            .pobytSelectAdd {
  
            }
          }

          .buttonAdd {
            position: absolute;
            right: 20px;
            bottom: 20px;
          }
        }
      }
    }
  }

  @media screen and (max-device-width: 768px) {
    //NAV

    .navBar {

      .logoBrand {

      }
  
      .navFormContainer {

        .navFieldSearch {
        }

        .navIconContainer {

          .navBelIcon {

          }

          .calendar {
            
          }
        }
      }
  
      .navLinksContainer {

      }
    }

    // MODAL ADD

    .modalBackgroundDiv {
  
      .containerModalAdd {
        width: 90%; 
        padding: 20px;
        padding-top: 40px;
  
        .containerForm {
          
          .mainInfo {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
  
            .nameAdd {
              flex-basis: 45%;
            }
  
            .telAdd {
              flex-basis: 45%;
            }
  
            .addressAdd {
              flex-basis: 100%;
            }
  
            .passportAdd {
              flex-basis: 45%;
            }

            .jobAdd {
              flex-basis: 100%;
            }
  
            .birhDayDiv {
              flex-basis: 45%;
              display: inline-flex;
            }
          }
  
          .containerInputDateAdd {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
  
            .arriveDateAdd {
            
            }
  
            .departureDateAdd {
  
            }
            
            .pobytSelectAdd {
  
            }
          }

          .buttonAdd {
            position: absolute;
            right: 20px;
            bottom: 15px;
          }
        }
      }
    }
  }

  @media screen and (max-device-width: 576px) {
    //NAV

    .navBar {

      .logoBrand {

      }
  
      .navFormContainer {

        .navFieldSearch {
        }

        .navIconContainer {

          .navBelIcon {

          }

          .calendar {
            left: 1%;
            right: 1%;
          }
        }
      }
  
      .navLinksContainer {

      }
    }

    //  MODAL ADD

    .modalBackgroundDiv {
  
      .containerModalAdd {
        width: 95%; 
        padding: 20px;
        padding-top: 40px;
  
        .containerForm {
          
          .mainInfo {
  
            .nameAdd {

            }
  
            .telAdd {
    
            }
  
            .addressAdd {

            }
  
            .passportAdd {
              flex-basis: 100%;
            }
  
            .birhDayDiv {
              flex-basis: 60%;
              margin-left: 18vw;
            }
          }

          .jobContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
  
            .jobAdd {
              flex-basis: 75%;
            }
  
            .poladndFirm {
              flex-basis: 15%;
              align-self: center;
            }
  
            .bankNumber {
              flex-basis: 100%;
            }
          }
  
          .containerInputDateAdd {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
  
            .arriveDateAdd {
              flex-basis: 40%;
            }
  
            .departureDateAdd {
              flex-basis: 40%;
            }
  
            .pobytSelectAdd {
              flex-basis: 80%;
            }
  
            .pipDateAdd {
              flex-basis: 40%;
            }
  
            .kartaPobytuDateAdd {
              flex-basis: 40%;
            }
          }

          .containerSubmitWithNotesAdd {
  
            .notesAdd {
              flex-basis: 70%;
              
            }
          }

          .buttonAdd {
            bottom: 15px;
          }
        }
      }
    }
  }
}
