@mixin media {
  @media screen and (max-device-width: 1200px) {
    
  }

  @media screen and (max-device-width: 992px) {
    //  NAV

    .navBar {
      flex-wrap: wrap;
      justify-content: space-between;
      height: 110px;

      .logoBrand {
        flex-basis: 10%;
      }
  
      .navFormContainer {
        flex-basis: 80%;
        flex-wrap: wrap;
        justify-content: flex-end;

        .navFieldSearch {
          width: 50%;
        }

        .navIconContainer {
          margin-right: 1rem;
          margin-left: 0;
          .navBelIcon {

          }

          .calendar {
            margin-top: 60px;
          }
        }
      }
  
      .navLinksContainer {
        flex-basis: 100%;
        flex-wrap: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        order: 20;

          a {
            
          }
      }
    }
  }

  @media screen and (max-device-width: 768px) {
    //NAV

    .navBar {

      .logoBrand {

      }
  
      .navFormContainer {

        .navFieldSearch {
        }

        .navIconContainer {

          .navBelIcon {

          }

          .calendar {
            
          }
        }
      }
  
      .navLinksContainer {

      }
    }
  }

  @media screen and (max-device-width: 576px) {
    //NAV

    .navBar {

      .logoBrand {

      }
  
      .navFormContainer {

        .navFieldSearch {
        }

        .navIconContainer {

          .navBelIcon {

          }

          .calendar {
            left: 1%;
            right: 1%;
          }
        }
      }
  
      .navLinksContainer {

      }
    }
  }
}