%modalBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  top: 0;
  background-image: linear-gradient(rgba(64, 109, 159,.5), rgba(255,245,215,.4));
  z-index: 10;
}

%modalZindex { z-index: 20; }

@mixin modals {
  .modalBackgroundDiv {
    @extend %modalBackground;

    .containerModalAdd {
      background-color: rgba(43, 124, 43, .2);
      width: 70%; 
      min-width: 400px;
      max-height: 70%;
      min-width: 400px;
      max-width: 1000px;
      padding: 40px;
      overflow: auto;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      border:rgba(43, 124, 43, .3) solid 1px;
      border-radius: 20px;
      box-shadow: 0px 0px 32px 2px rgba(27, 99, 111, 0.5);
      @extend %modalZindex;

      .containerForm {
        
        .mainInfo {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .nameAdd {
            flex-basis: 45%;
          }

          .telAdd {
            flex-basis: 45%;
          }

          .addressAdd {
            flex-basis: 100%;
          }

          .passportAdd {
            flex-basis: 45%;
          }

          .birhDayDiv {
            flex-basis: 45%;
            display: inline-flex;
            padding-right: 8px;
          }
        }

        .containerInputDateAdd {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          .arriveAdd {

          }
        }
      }
    }
  }

  .addModalHide {
    // display: none;
  }
}