.modalBackgroundDiv {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0 0;
  top: 0;
  background-image: linear-gradient(rgba(64, 109, 159, 0.5), rgba(255, 245, 215, 0.4));
  z-index: 10; }

.modalBackgroundDiv .containerModalAdd, .modalBackgroundDiv .containerModalConfig {
  z-index: 20; }

.modalBackgroundDiv .containerModalAdd .closeButtonAdd, .modalBackgroundDiv .containerModalConfig .closeButtonConfig {
  position: absolute;
  color: darkred;
  top: 6px;
  right: 17px;
  font-size: 1.5rem; }
  .modalBackgroundDiv .containerModalAdd .closeButtonAdd:hover, .modalBackgroundDiv .containerModalConfig .closeButtonConfig:hover {
    cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Hind Vadodara', sans-serif; }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 3vw 0 3vw;
  height: 70px; }
  .navBar .logoBrand {
    flex-basis: 10%; }
  .navBar .navFormContainer {
    flex-basis: 50%;
    flex-wrap: nowrap;
    justify-content: flex-end; }
    .navBar .navFormContainer .navIconContainer {
      margin-right: 2rem;
      margin-left: 2rem; }
      .navBar .navFormContainer .navIconContainer .navBelIcon {
        width: 20px; }
        .navBar .navFormContainer .navIconContainer .navBelIcon:hover {
          cursor: pointer; }
      .navBar .navFormContainer .navIconContainer .calendar {
        position: absolute;
        right: 10%;
        left: 10%;
        margin-top: 20px; }
      .navBar .navFormContainer .navIconContainer .bellAlarm {
        animation: shakeBell 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px; }

@keyframes shakeBell {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
  .navBar .navToogleIcon {
    order: 20; }
  .navBar .navLinksContainer {
    justify-content: center;
    flex-basis: 40%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around; }

.modalBackgroundDiv .containerModalAdd {
  position: relative;
  width: 80%;
  min-width: 400px;
  max-height: fit-content;
  min-height: fit-content;
  max-width: 1000px;
  padding: 40px;
  padding-top: 50px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 1rem;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background-color: rgba(191, 219, 191, 0.95);
  border: rgba(191, 219, 191, 0.95) solid 1px;
  box-shadow: 0px 0px 32px 2px rgba(27, 99, 111, 0.5); }
  .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .nameAdd {
      flex-basis: 45%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .telAdd {
      flex-basis: 45%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .addressAdd {
      flex-basis: 100%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .passportAdd {
      flex-basis: 45%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .birhDayDiv {
      flex-basis: 45%;
      display: inline-flex;
      padding-right: 8px;
      position: relative; }
      .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .birhDayDiv [data-tooltip] {
        opacity: 0.9; }
        .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .birhDayDiv [data-tooltip]::after {
          position: absolute;
          bottom: -15px;
          left: -45px;
          content: attr(data-tooltip);
          color: rgba(100, 89, 89, 0.72);
          font-family: 'Kufam', cursive;
          font-size: 1rem;
          font-style: italic;
          font-weight: 200;
          opacity: 0;
          transition: 1s;
          pointer-events: none; }
        .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .birhDayDiv [data-tooltip]:hover {
          opacity: 1; }
          .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .birhDayDiv [data-tooltip]:hover::after {
            opacity: 1; }
  .modalBackgroundDiv .containerModalAdd .containerForm .jobContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .modalBackgroundDiv .containerModalAdd .containerForm .jobContainer .jobAdd {
      flex-basis: 40%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .jobContainer .poladndFirm {
      flex-basis: 15%;
      align-self: center; }
    .modalBackgroundDiv .containerModalAdd .containerForm .jobContainer .bankNumber {
      flex-basis: 40%; }
  .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .wayOfStay {
      flex-basis: 100%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .wayOfStayWithDates {
      flex-basis: 30%;
      white-space: nowrap; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .visaDate {
      flex-basis: 60%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .arriveDepartureDates {
      flex-basis: 60%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .pobytSelectAdd {
      flex-basis: 100px; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .kartaAndPIPDates {
      flex-basis: 80%;
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap; }
  .modalBackgroundDiv .containerModalAdd .containerForm .containerSubmitWithNotesAdd {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerSubmitWithNotesAdd .notesAdd {
      flex-basis: 80%;
      min-height: 3rem; }
  .modalBackgroundDiv .containerModalAdd .containerForm .buttonAdd {
    position: absolute;
    right: 40px;
    bottom: 32px; }

.addModalHide {
  display: none; }

.modalBackgroundDiv .containerModalConfig {
  position: relative;
  width: 80%;
  min-width: 400px;
  max-height: fit-content;
  min-height: fit-content;
  max-width: 1000px;
  padding: 40px;
  padding-top: 50px;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 1rem;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background-color: rgba(226, 223, 182, 0.95);
  border: rgba(226, 223, 182, 0.95) solid 1px;
  box-shadow: 0px 0px 32px 2px rgba(105, 111, 27, 0.5); }
  .modalBackgroundDiv .containerModalConfig h4 {
    text-align: center; }
  .modalBackgroundDiv .containerModalConfig hr {
    width: 60%;
    margin: 20px auto;
    color: gray; }
  .modalBackgroundDiv .containerModalConfig .containerConfigForm {
    min-height: 300px;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative; }
    .modalBackgroundDiv .containerModalConfig .containerConfigForm .configItem {
      flex-basis: 30%;
      margin: 1rem auto; }

.configModalHide {
  display: none; }

@media screen and (max-device-width: 992px) {
  .modalBackgroundDiv .containerModalAdd, .modalBackgroundDiv .containerModalConfig {
    width: 90%;
    padding: 30px;
    padding-top: 50px; }
  .navBar {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 110px; }
    .navBar .logoBrand {
      flex-basis: 10%; }
    .navBar .navFormContainer {
      flex-basis: 80%;
      flex-wrap: wrap;
      justify-content: flex-end; }
      .navBar .navFormContainer .navFieldSearch {
        width: 50%; }
      .navBar .navFormContainer .navIconContainer {
        margin-right: 1rem;
        margin-left: 0; }
        .navBar .navFormContainer .navIconContainer .calendar {
          margin-top: 60px; }
    .navBar .navLinksContainer {
      flex-basis: 100%;
      flex-wrap: nowrap;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      order: 20; }
  .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .nameAdd {
      flex-basis: 45%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .telAdd {
      flex-basis: 45%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .addressAdd {
      flex-basis: 100%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .passportAdd {
      flex-basis: 45%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .jobAdd {
      flex-basis: 100%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .birhDayDiv {
      flex-basis: 45%;
      display: inline-flex; }
  .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .modalBackgroundDiv .containerModalAdd .containerForm .buttonAdd {
    position: absolute;
    right: 20px;
    bottom: 20px; } }

@media screen and (max-device-width: 768px) {
  .modalBackgroundDiv .containerModalAdd, .modalBackgroundDiv .containerModalConfig {
    width: 90%;
    padding: 20px;
    padding-top: 40px; }
  .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .nameAdd {
      flex-basis: 45%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .telAdd {
      flex-basis: 45%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .addressAdd {
      flex-basis: 100%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .passportAdd {
      flex-basis: 45%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .jobAdd {
      flex-basis: 100%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .birhDayDiv {
      flex-basis: 45%;
      display: inline-flex; }
  .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .kartaAndPIPDates {
      flex-basis: 100%;
      justify-content: space-around; }
  .modalBackgroundDiv .containerModalAdd .containerForm .buttonAdd {
    position: absolute;
    right: 20px;
    bottom: 15px; } }

@media screen and (max-device-width: 576px) {
  .modalBackgroundDiv .containerModalAdd, .modalBackgroundDiv .containerModalConfig {
    width: 95%;
    padding: 20px;
    padding-top: 40px; }
  .navBar .navFormContainer .navIconContainer .calendar {
    left: 1%;
    right: 1%; }
  .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .passportAdd {
    flex-basis: 100%; }
  .modalBackgroundDiv .containerModalAdd .containerForm .mainInfo .birhDayDiv {
    flex-basis: 60%;
    margin-left: 18vw; }
  .modalBackgroundDiv .containerModalAdd .containerForm .jobContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
    .modalBackgroundDiv .containerModalAdd .containerForm .jobContainer .jobAdd {
      flex-basis: 75%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .jobContainer .poladndFirm {
      flex-basis: 15%;
      align-self: center; }
    .modalBackgroundDiv .containerModalAdd .containerForm .jobContainer .bankNumber {
      flex-basis: 100%; }
  .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .arriveDateAdd {
      flex-basis: 40%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .departureDateAdd {
      flex-basis: 40%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .pobytSelectAdd {
      flex-basis: 60%; }
    .modalBackgroundDiv .containerModalAdd .containerForm .containerInputDateAdd .kartaAndPIPDates {
      flex-basis: 100%;
      justify-content: center; }
  .modalBackgroundDiv .containerModalAdd .containerForm .containerSubmitWithNotesAdd .notesAdd {
    flex-basis: 70%; }
  .modalBackgroundDiv .containerModalAdd .containerForm .buttonAdd {
    bottom: 15px; } }
