* {
  margin: 0;
  padding: 0; }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 3vw 0 3vw;
  height: 70px; }
  .navBar .logoBrand {
    flex-basis: 10%; }
  .navBar .navFormContainer {
    flex-basis: 50%;
    flex-wrap: nowrap;
    justify-content: flex-end; }
    .navBar .navFormContainer .navIconContainer {
      margin-right: 2rem;
      margin-left: 2rem; }
      .navBar .navFormContainer .navIconContainer .navBelIcon {
        width: 20px; }
        .navBar .navFormContainer .navIconContainer .navBelIcon:hover {
          cursor: pointer; }
      .navBar .navFormContainer .navIconContainer .calendar {
        position: absolute;
        right: 10%;
        left: 10%;
        margin-top: 20px; }
      .navBar .navFormContainer .navIconContainer .bellAlarm {
        animation: shakeBell 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px; }

@keyframes shakeBell {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
  .navBar .navToogleIcon {
    order: 20; }
  .navBar .navLinksContainer {
    justify-content: center;
    flex-basis: 40%;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around; }

@media screen and (max-device-width: 992px) {
  .navBar {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 110px; }
    .navBar .logoBrand {
      flex-basis: 10%; }
    .navBar .navFormContainer {
      flex-basis: 80%;
      flex-wrap: wrap;
      justify-content: flex-end; }
      .navBar .navFormContainer .navFieldSearch {
        width: 50%; }
      .navBar .navFormContainer .navIconContainer {
        margin-right: 1rem;
        margin-left: 0; }
        .navBar .navFormContainer .navIconContainer .calendar {
          margin-top: 60px; }
    .navBar .navLinksContainer {
      flex-basis: 100%;
      flex-wrap: nowrap;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      order: 20; } }

@media screen and (max-device-width: 576px) {
  .navBar .navFormContainer .navIconContainer .calendar {
    left: 1%;
    right: 1%; } }
